.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.modal-content {
    background-color: #fefefe;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    font-weight: 800;
}
    


.buttons {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 6rem;
    font-size: x-large;
}

.button {
    width: 12rem;
}